/* 
    Created on : 08-nov-2014, 14:28:25
    Author     : Sara
*/
// https://color.adobe.com/es/ice-cream-color-theme-4108036/edit/?copy=true&base=2&rule=Custom&selected=2&name=Copia%20de%20ice%20cream&mode=rgb&rgbvalues=0.517647,0.74902,0.682353,0.952941,0.941176,0.917647,0.94902,0.752941,0.388235,0.94902,0.415686,0.294118,0.376471,0.243137,0.164706&swatchOrder=0,1,2,3,4

* {
    margin: 0;
    padding: 0;
    color: #603E2A;
    font-family: Helvetica, Arial;
    font-size: 13px;
}

body {
    background-color: #F3F0EA;
    margin: 0;
}

#datosUsuario {
    float: right;
    width: auto;
}

#usuario {
    float: left;
    margin: auto;
    text-align: right;
}

.salir {
    float: right;
    margin: auto;
}

fieldset {
    width: auto;
}

#cabecera {
    padding: 10px;
    box-sizing: border-box;
    height: 10%;
    width: 100%;
    float: right;
    background: #F2C063;
    position: relative;
}

#menu {
    margin: 0 auto;
    padding: 10px; 
    box-sizing: border-box; 
    width: 100%;
    height: 20%;
    background-color: #F2C063;
}
#fEnvios, #fUsuarios, #fZonas {
    margin: 10px;
    float: left;
    font-weight: bold;
    border-radius: 10px;
    border-color: #F26A4B;
    color: #F26A4B;
}

a:link, a:visited {
    color: #603E2A;
    text-decoration: none;
}

a:hover, a:active, button:hover, button:active, input[type=submit]:hover, input[type=submit]:active {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

#contenido {
    padding: 10px;
}
#pie {
    text-align: center;
    line-height: 5px;
}
table {
    border: none;
    font-size: 13px;   
}
th {
    background-color: #603E2A;
    color: #F3F0EA;
    border: none;
}
td {
    border-color: #603E2A;
    text-align: center;
}
th, td {
    padding: 5px;    
}
.noMostrar {
    visibility: hidden;
}
.linkPaginador a {
    color: #F26A4B;
    float: left;
}
#paginador {
    width: 100%;
    border: solid black;
    height: 20px;
}
input, select, textarea {
    width: 200px;
    padding-left: 5px;
    padding-right: 5px;
}
input[type=submit], input[type=number], input[type=radio] {
    width: auto;
}
#infoApp #colum1, #infoApp #colum2 {
    float: left;
    padding: 5px;
}
button, input[type=submit] {
    background-color: #F26A4B;
    border: none;
    border-radius: 0 10px 0 10px;
    padding: 5px;
    color: #F3F0EA;
}